body {
  color: #3a3d42;
}
.hide, .js-fall-hide {
  display: none;
}
.js-remove-link {
  cursor: pointer;
}
.pipe {
  padding: 0 15px;
  color: #ccc;
}
.scrollBox {
  height: 300px;
  overflow-y: auto;
  background-color: #e5e5e5;
  width: 100%;
  padding: 6px;
  border: 1px solid #ccc;
}
.section-label {
  display: inline;
}
.row {
  margin-top: 10px;
}

table.cal td {
  border: 1px solid black;
}

td.day {
  width: 200px;
  height: 455px;
  vertical-align: top;
  font-size: 12px;
  position: relative;


}
.timeSlot {
  width: 80%;
  background-color: #fcfcfc;
  position: absolute;
  border: 1px solid black;

  padding: 2px;
}
/* colors */

.red {background-color: #CD6B97;}
.red2 {background-color:#FC575E}
.blue {background-color:#81CFE0}
.blue2 {background-color:#83D6DE}
.green {background-color:#87D37C}
.green2 {background-color:#7CEECE}
.purple {background-color:#DCC6E0}
.purple2 {background-color:#BE90D4}
.yellow {background-color:#EEE657}
.yellow2 {background-color:#E7DF86}
.orange {background-color: #E67E22}
.orange2 {background-color:#FF7055}
.tan {background-color:#F3D89F}
.tan2 {background-color: #FDE3A7}


/* 15 minutes = 10px, 1 hour = 40px */

/* TODO instead of doing this, calculate time and size of boxes in javascript */

/* these early times are a hack since the fall had 845 at zero and I'm not redoing them all */
.time800AM500PM  {top: 0px; height: 360px;}
.time800AM600PM  {top: 0px; height: 400px;}
.time800AM1100PM  {top: 0px; height: 600px;}

.time830AM959AM  {top: 0px; height: 60px;}
.time830AM1000AM  {top: 0px; height: 60px;}

/*end hacky times */

.time845AM1000AM  {top: 0px; height: 50px;}
.time845AM1100AM  {top: 0px; height: 90px;}

.time900AM1200PM  {top: 10px; height: 120px;}
.time900AM100PM  {top: 10px; height: 160px;}
.time900AM500PM  {top: 10px; height: 320px;}
.time900AM530PM  {top: 10px; height: 340px;}
.time900AM600PM  {top: 10px; height: 360px;}

.time930AM1230PM  {top: 30px; height: 120px;}

.time945AM1115AM  {top: 40px; height: 60px;}

.time1000AM1129AM {top: 50px; height: 40px;}
.time1000AM1159PM {top: 50px; height: 80px;}
.time1000AM1200PM {top: 50px; height: 80px;}
.time1000AM1230PM {top: 50px; height: 100px;}
.time1000AM430PM {top: 50px; height: 260px;}

.time1015AM1130AM {top: 60px; height: 50px;}
.time1100AM1159AM {top: 90px; height: 40px;}

.time1130AM1159AM {top: 110px; height: 20px;}

.time1140AM100PM {top: 120px; height: 50px;}
.time1145AM100PM  {top: 120px; height: 50px;}

.time1200PM200PM {top: 130px; height: 80px;}

.time100PM159PM {top: 170px; height: 40px;}
.time100PM230PM {top: 170px; height: 60px;}
.time100PM300PM {top: 170px; height: 80px;}
.time100PM359PM {top: 170px; height: 120px;}
.time100PM400PM {top: 170px; height: 120px;}

.time115PM230PM {top: 180px; height: 50px;}
.time115PM400PM {top: 180px; height: 110px;}
.time115PM415PM {top: 180px; height: 120px;}

.time200PM330PM {top: 210px; height: 60px;}
.time200PM359PM {top: 210px; height: 80px;}
.time200PM400PM {top: 210px; height: 80px;}
.time200PM500PM {top: 210px; height: 120px;}
.time200PM600PM {top: 210px; height: 160px;}

.time245PM400PM {top: 240px; height: 50px;}

.time300PM500PM {top: 250px; height: 80px;}
.time300PM600PM {top: 250px; height: 120px;}

.time330PM500PM {top: 270px; height: 60px;}

.time400PM559PM {top: 290px; height: 40px;}
.time400PM600PM {top: 290px; height: 40px;}
.time400PM659PM {top: 290px; height: 80px;}

.time415PM530PM {top: 300px; height: 50px;}
.time415PM545PM {top: 300px; height: 60px;}
.time415PM600PM {top: 300px; height: 70px;}
.time415PM615PM {top: 300px; height: 80px;}
.time415PM630PM {top: 300px; height: 90px;}
.time415PM700PM {top: 300px; height: 110px;}
.time415PM800PM {top: 300px; height: 150px;}

.time500PM700PM {top: 330px; height: 80px;}
.time500PM759PM {top: 330px; height: 120px;}

.time600PM659PM {top: 370px; height: 40px;}
.time615PM800PM {top: 380px; height: 70px;}
