body {
  color: #3a3d42;
}
.hide {
  display: none;
}
.js-remove-link {
  cursor: pointer;
}
.scrollBox {
  height: 300px;
  overflow-y: auto;
  background-color: #e5e5e5;
  width: 100%;
  padding: 6px;
  border: 1px solid #ccc;
}
.section-label {
  display: inline;
}
.row {
  margin-top: 10px;
}

table.cal td {
  border: 1px solid black;
}

td.day {
  width: 200px;
  height: 410px;
  vertical-align: top;
  font-size: 12px;
  position: relative;


}
.timeSlot {
  width: 80%;
  background-color: #fcfcfc;
  position: absolute;
  border: 1px solid black;

  padding: 2px;
}
/* colors */

.red {background-color: #CD6B97;}
.red2 {background-color:#FC575E}
.blue {background-color:#81CFE0}
.blue2 {background-color:#83D6DE}
.green {background-color:#87D37C}
.green2 {background-color:#7CEECE}
.purple {background-color:#DCC6E0}
.purple2 {background-color:#BE90D4}
.yellow {background-color:#EEE657}
.yellow2 {background-color:#E7DF86}
.orange {background-color: #E67E22}
.orange2 {background-color:#FF7055}
.tan {background-color:#F3D89F}
.tan2 {background-color: #FDE3A7}


/* 15 minutes = 10px, 1 hour = 40px */
.time845AM1000AM  {top: 0px; height: 50px;}
.time845AM1100AM  {top: 0px; height: 90px;}
.time1000AM1200PM {top: 50px; height: 40px;}
.time1015AM1130AM {top: 60px; height: 50px;}
.time1100AM1159AM {top: 90px; height: 40px;}
.time1145AM100PM  {top: 120px; height: 50px;}
.time1200PM200PM {top: 130px; height: 80px;}

.time115PM230PM {top: 180px; height: 50px;}
.time115PM400PM {top: 180px; height: 110px;}
.time200PM400PM {top: 210px; height: 80px;}
.time245PM400PM {top: 240px; height: 50px;}

.time300PM500PM {top: 250px; height: 80px;}
.time330PM500PM {top: 270px; height: 60px;}

.time415PM530PM {top: 300px; height: 50px;}
.time415PM600PM {top: 300px; height: 70px;}
.time415PM615PM {top: 300px; height: 80px;}
.time415PM700PM {top: 300px; height: 70px;}
.time415PM800PM {top: 300px; height: 110px;}
